.MessageBox
  .MessageInfo
    .MessageInfo__userName
      = message.user.name
    .MessageInfo__date
      = message.created_at.to_s(:datetime)
  .Message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?