.Side
  .Side__SideHeader
    .Side__SideHeader__username
      .Side__SideHeader__username__numberleft
        name
      .Side__SideHeader__username__rogo
        .Side__SideHeader__username__rogo__numberrightright
          = link_to "#", class: "Contents__btn" do
            = icon('far', 'edit')
          %span<>
        .Side__SideHeader__username__rogo__numberrightleft
          = link_to "#", class: "Contents__btn" do
            = icon('fas', 'cog')
  .Side__SideArea
    .Side__SideArea__sidecontainer
      .Side__SideArea__sidecontainer__Techcamp
        techcamp
      .Side__SideArea__sidecontainer__Message
        メッセージはまだありません

